<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #container {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(30, 0fr);
        left:0%;
        top:0%;
        width: 100vw;
        height: 100vh;
    }
    
    img{
        border:2px solid black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
<body>
    <div id="container"></div>
    <script type="text/javascript" defer src="public/client.js"></script>
    
</body>
</html>